
body {
	
  width: 100%;
  height: 400px;
  background-image: url("https://jjjjuniorrrr.github.io/img/2.jpg");
  background-size: 100% 100%;

 
 	
}

@media only screen and (max-device-width: 800px) {
  body {
    background-image: url("https://jjjjuniorrrr.github.io/img/1.jpg");
  }
}
		#logo{	position:relative;
				top:0px;
				left:0px;
				width:150px;
				height:150px;
				
			
			}


		*{
			margin:0;
			padding:0;
		}

		.menu{
			
			width: 100%;
			height:50px;
			background-color: #000;
			font-family: "quadaptor";
			opacity: .6;
			
					
		}
		.menu ul{
			list-style: none;
			position:relative;
		}
		.menu ul li{
			width:150px;
			float: left;
			
		}
		.menu a{ width: 100%;
			padding: 15px;
			display:block;
			text-decoration:none;
			text-align:center;
			background-color: #000;
			color: #fff;
			font-size:16px;
		}
		.menu ul ul{
			position:absolute;
			visibility:hidden;
	
		}
		.menu ul li:hover ul{
			visibility:visible;
		}
		.menu a:hover{
			background-color: #3f47cc;
			color: #ffc90d;
		}
		.menu ul ul li{
			float:none;
			border-bottom: solid 2px #ccc;
		}
		.menu ul ul li a{
			background-color: #000;
		}
		label[for="bt_menu"]{
			padding:10px;
			background-color:#000;
			color: #fff;
			font-family:"arial";
			text-align:center;
			font-size:50px;
			cursor:pointer;
			width: 70px;
			height:70px;
			margin-left: 0px;
			
			opacity: .5;
			border-radius: 10px;
		}
		
		#bt_menu{
			display:none;
			
		}
		
		label[for="bt_menu"]{
			display: none;
		}
	@media only screen and (max-device-width: 800px){
			label[for="bt_menu"]{
			display: block;
			
		}

		#bt_menu:checked ~ .menu{
			margin-left: 0px;
		}
		

		

		.menu{
			margin-top:5px;
			margin-left: -100%;
			transition: all .4s;
			width: 50%;
			font-size: 30px;
			text-transform: uppercase;
			font-family: "quadaptor";
			
			
			
		}

			.menu ul li{
				width:100%;
				float:none;
				border-bottom: solid 7px #ccc;
				
		}
		.menu ul ul{
			position:static;
			overflow: hidden;
			max-height:0;
			transition: all .4s;
				
			
		}
		
		.menu ul li:hover ul{
			height: auto;
			max-height:200px;
			
		}

		#logo{	width:400px;
			height:400px;
			
  			
		}
		#logo img{
			
  		  width: 700px;
		}
		.menu a{
			color: #fff;
			font-size:30px
			
			
		}
		
	}
		@font-face {
     			font-family: quadaptor;
   			src: url('https://jjjjuniorrrr.github.io/fonte/quadaptor.ttf');
		}
		

